body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #f6d365, #fda085);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-list-container {
  background: #fffdfc;
  padding: 2.5rem; 
  margin: 2rem 2rem;
  border-radius: 24px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

input {
  width: 75%;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 24px;
  border: 1px solid #ddd;
  font-size: 1.1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.todo-input input:focus {
  border-color: #dfdfdf;
  box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.05);
  outline: none;
}

.todo-input button {
  width: 22%;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.todo-input button:hover {
  background-color: #444;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  padding-bottom: 0.7rem;
  margin: 0;
}

li {
  background-color: white;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  align-items: flex-center; 
  font-size: 1.2rem;
  color: #333;
  transition:  box-shadow 0.3s ease; 
  margin-bottom: 1.5rem; 
}


li:hover {
    box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.05);
}

li .buttons {
  display: flex;
  justify-content: space-between; 
  width: 100%;
}

.btn-red {
  background-color: rgba(252, 84, 62, 0.7);
  border-radius: 2rem;
  border: none;
  width: 30%;
  transition:  box-shadow 0.3s ease; 
}

.btn-green {
  background-color: rgba(109, 252, 62, 0.7);
  border-radius: 2rem;
  border: none;
  width: 30%;
  transition:  box-shadow 0.3s ease; 
}

.btn-edit{
  border-radius: 2rem;
  border: none;
  width: 30%;
  transition:  box-shadow 0.3s ease; 
}

.btn-red:hover, .btn-green:hover, .btn-edit:hover{
  box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1) inset;
}

.todo-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.todo-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.todo-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.todo-item-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}


.edit-mode > button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin: 0.5rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid #555;
  padding-top: 1rem;
}

.items-counter{
  background-color: #fff;
  color: #555;
  padding: 1rem 1.5rem;
  border: 1px solid #555;
  border-radius: 24px;
  font-size: 0.7rem;
}

.actions button {
  background-color: #555;
  color: #fff;
  padding: 1rem 1.1rem;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 0.7rem;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #444;
}
